<!DOCTYPE html>
{# Tells browsers that this is html, prevent them from going in "quirks"-mode #}
<html lang="fi">
    <head>
        <meta charset="utf-8">
        {# viewport is for mobile devices #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}CodeBlog{% endblock%}</title>
        {% load static %}
        <link rel="icon" href="{% static '.ico' %}"/>
        {# Link to Bootstrap #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous">
    </head>
    <body>
        {# Navbar #}
        <nav class="navbar navbar-expand-md bg-primary navbar-dark pt-1 pd-0">
            <div class="container-fluid">
                <a class="navbar-brand fw-semibold" href="{% url 'postauslista' %}">
                    <img src="{% static '.ico' %}" alt="CodeBlog" width="50" height="50" class="d-inline-block align-text-middle">
                    CodeBlog
                </a>
                {% comment %} <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> {% endcomment %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active"
                              aria-current="page"
                              href="{% url 'postauslista' %}">Home</a>
                    </a>
                    </li>
                    {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Toiminnot
                    </a> {% endcomment %}
                    {% comment %} <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'uusi_postaus' %}">Uusi postaus</a></li>
                    </ul> {% endcomment %}
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        {# Page content #}
        <div class="container">
            <br/>
            <br/>
            {% block content %}{% endblock %}
        </div>
        {# Bootstrap JS #}
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    </body>
</html>