{% extends "blogi/base.html" %}

{% block content %}
<div class="col-12 col-sm-9 col-md-8 col-lg-7">
    <div class="container" 
        style="
            padding: 20px;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(6.4px);
            -webkit-backdrop-filter: blur(6.4px);
            border: 1px solid rgba(255, 255, 255, 0.45);">
        <h1>Postaukset</h1>
        <br/>
        <ul>
            {% for postaus in postaukset %}
            <li>
                <a href="{% url 'nayta_postaus' postaus.id %}">
                    {{postaus}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}