{% extends "blogi/base.html" %}

{% block content %}
<h2>Luo uusi postaus</h2>
<form method="post">
    {% csrf_token %}
    {# Create row + columns to make it a bit more narrow #}
    <div class="row">
        {# col-12 = the default #}
        {# col-sm-10 = on small screens, 10/12 #}
        {# col-md-8 = on medium screens, 8/12 #}
        {# col-lg-6 = on larger screens, 6/12 #}
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            {# Title input field #}
            <div class="form-floating mb-3">
                <input class="form-control" id="otsikko" name="otsikko" placeholder="">
                <label for="otsikko" class="form-label">Otsikko</label>
            </div>
            {# Text input field #}
            <div class="form-floating mb-3">
                <textarea class="form-control" id="teksti" name="teksti" placeholder=""
                    style="height: 10em"></textarea>
                <label for="teksti" class="form-label">Teksti</label>
            </div>
            <button type="submit" class="btn btn-primary">Lähetä</button>
        </div>
    </div>
</form>
{% endblock %}